#page {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#header {
    width: 1415px;
    height: 786;
    margin: 35px 105px 270px 80px;
    background-color: navajowhite;
}

#section2 {
    width: 1242px;
    height: 550px;
    margin: 270px 217px 262px 141px;
    background-color: white;    
}

#section3 {
    width: 1239px;
    height: 532px;
    margin: 262px 240px 173px 121px;
    background-color: white;    
}

#section4 {
    width: 1206px;
    height: 542px;
    margin: 173px 154px 248px 240px;
    background-color: white;    
}

#section5 {
    width: 1180px;
    height: 616px;
    margin: 248px 324px 213px 96px;
    background-color: white;    
}

#section6 {
    width: 1222px;
    height: 684px;
    margin: 213px 235px 196px 143px;
    background-color: white;    
}

#footer {
    width: 1640px;
    height: 482px;
    margin: 196px auto 0px;
    background-color: white;    
}

#page div {
    display: flex;
}

#logo {
    position: relative;
    width: 41px;
    height: 41px;
    margin: 10px 111px;
    background-color: blue;
}

#top-nav {
    position: relative;
    width: 663px;
    margin: -42px 85px 10px auto;
    background-color: blue;
    justify-content: space-between;
}

#top-nav div {
    margin: 0px 20px;
    font-size: 14pt;
}