#page {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#header {
    overflow: hidden;
    width: 1415px;
    height: auto;
    margin: 35px 105px 0px 80px;
    background-color: #FFFFFF;
}

#section2 {
    display: inline-block;
    width: 1242px;
    height: 550px;
    margin: 270px 217px 0px 141px;
    background-color: white;    
}

#section3 {
    width: 1239px;
    height: 532px;
    margin: 262px 240px 0px 121px;
    background-color: white;    
}

#section4 {
    overflow: hidden;
    width: 1206px;
    height: 542px;
    margin: 173px 154px 0px 240px;
    background-color: white;    
}

#footer {
    width: 90%;
    height: auto;
    margin: 196px auto 0px;
    background-color: #f9f9fb;    
}

/***************      Header      ***************/

#header .logo {
    float:left;
    width: 41px;
    height: 41px;
    margin: 10px auto auto 111px;
}

#top-nav {
    display: flex;
    float:none;
    width: 698px;
    height: 41px;
    margin: 10px 85px 10px auto;
    justify-content: space-between;
}

#top-nav div {
    margin: 0px 18px;
    font-size: 14pt;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #B8BECD;
}

#top-nav span {
    height: 16px;
    position: relative;
    top: 10px;
}

#header .image {
    float: right;
    width: 687px;
    height: 654px;
    margin: 72px 0px 0px auto;
}

#header .text {
    float: none;
    width: 356px;
    height: 160px;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    margin: 114px auto 0px 109px;
}

#header .element1 {
    position: absolute;
    top: 783px;
    left: 732px;
}

#header .element2 {
    position: absolute;
    top: 494px;
    left: 80px;
}

#header .element3 {
    position: absolute;
    top: 210px;
    left: 657px;
}

#top-nav #login {
    border: #F88F1D 2px solid;
    color: #F88F1D;
    font-size: 15px;
    width: 128px;
    height: 40px;
    margin-right: 2px;
    border-radius: 8px;
}

.button-orange{
    border: #F88F1D 2px solid;
    background-color: #F88F1D;
    color: #FFFFFF;
    font-family: 'Inter', serif;
    font-size: 15px;
    width: 128px;
    height: 40px;
    border-radius: 8px;
}

#top-nav .button-orange{
    color: #FFFFFF;
}

#header .form {
    float: none;
    position: relative;
    width: 520px;
    height: 344px;
    margin: 74px auto 0px 109px;
}

.form input[placeholder] {
    display: inline-block;
    height: 50px;
    width: 188px;
    margin: 30px 32px 0px 0px;
    padding-left: 30px;
    border: #AFB0B9 1px solid;
    border-radius: 6px;
    font-family: 'Inter', serif;
    font-size: 15px;
    font-weight: 400;
    color: #4A4C53;
}

.form input[placeholder]::placeholder{
    color:#4A4C53;
    font-family: 'Inter', serif;
    font-size: 15px;
    font-weight: 400;

}

#header .form .button-orange {
    width: 180px;
    height: 52px;
    margin: 44px auto 0px 0px;
    font-size: 16px;
}

.form span {
    font-family: 'Inter', serif;
    font-size: 22px;
    font-weight: 600;
}

.form .line {
    height: 2px;
    width: 32px;
    background-color: black;
    margin: 18px auto 13px 0px; 
}

/***************      Section 2      ***************/

#section2 .image {
    float: left;
    width: 659px;
    height: 534px;
    margin: 10px auto 0px 0px;
}

#section2 .text {
    float: right;
    width: 487px;
    height: 333px;
    margin-top: 120px;
}

#section2 .text .caption {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
}

#section2 .text .filling {
    font-family: 'Inter', serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 2;
    margin: 26px auto;
    color: #7D7987;
}

#section2 .text .button-orange {
    width: 164px;
    height: 45px;
    margin: 42px auto 0px 0px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#section2 span {
    height: 15px;
    position: relative;
    top: 13px;
}

#section2 .element1 {
    position: relative;
    top: 0px;
    left: 26px;
}

#section2 .element2 {
    position: relative;
    top: 378px;
    left: 429px;
}

/***************      Section 3      ***************/

#section3 .top {
    width: 100%;
    display: flex;
}

#section3 .text {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
    margin-left: 119px;
    margin-top: 20px;
}

.viewall {
    float: right;
    margin: 36px 0px auto auto;
    font-family: 'Inter', serif;
    font-size: 17px;
    font-weight: 600;
    color: #F88F1D;
}

.viewall img {
    margin-left: 8px;
}

#section3 .content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: 119px;
}

#section3 .element1 {
    position: relative;
    top: -140px;
    left: 8px;
}

#section3 .element2 {
    position: relative;
    top: -482px;
    left: 1026px;
}

#section3 .element3 {
    position: relative;
    top: -12px;
    left: 618px;
}

/***************      Section 4      ***************/

#section4 .image {
    float: right;
    margin-right: 44px;
}

#section4 .text {
    width: 481px;
    height: 303px;
    margin-top: 148px;
}

#section4 .text .caption {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
}

#section4 .text .filling {
    font-family: 'Inter', serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 2;
    margin: 26px auto;
    color: #7D7987;
}

#section4 .text .button-orange {
    width: 164px;
    height: 46px;
    margin: 38px auto 0px 0px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#section4 span {
    height: 15px;
    position: relative;
    top: 13px;
}

#section4 .element1 {
    position: relative;
    top: -358px;
    left: 48px;
}

#section4 .element2 {
    position: relative;
    top: -48px;
    left: 432px;
}

#section4 .element3 {
    position: relative;
    top: -464px;
    left: 1192px;
}

/***************      Footer     ***************/

#footer .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .column, #footer .column1{
    margin: 62px 82px auto 82px;
    float: left;
    min-width: 100px;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 2.2;
    color: #848484;
}

#footer .column1 {
    line-height: 1.7;
}

#footer .column1 div span {
    font-size: 17px;
}

#footer .column span {
    color:#000000;
    font-weight: 600;
}

#footer .line {
    margin: 62px auto auto auto;
    width: calc(90% - 36px);
    border-top: #c4c4c4 1px solid;
}

#footer .social-media {
    height: 23px;
    width: 248px;
    margin: 30px auto 30px auto;
    display: flex;
    justify-content: space-between;
}